<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Alterar Atividade</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/agencias/<%= agencia_id %>/atividades/<%=atividade._id %>?_method=PUT" method="POST">
                <% console.log("Start: ", atividade.start)%>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%=atividade.title %>" name="atividade[title]" placeholder="Título">
                </div>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" value="<%=moment(atividade.start).utc(-3).format('YYYY-MM-DDTHH:mm:ss') %>" name="atividade[start]" placeholder="Título" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" value="<%= moment(atividade.end).utc(-3).format('YYYY-MM-DDTHH:mm:ss') %>" name="atividade[end]" placeholder="Título" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" value="<%= atividade.km %>" name="atividade[km]" placeholder="Quilometragem">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Alterar</button>
                </div>
            </form>
            <a href="/agencias">Voltar</a>
        </div>
    </div>
<% include ../partials/footer %>

