<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Alterar Atividade</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/agencias/<%= agencia_id %>/atividades/<%=atividade._id %>?_method=PUT" method="POST">                
                <div class="form-group">
                    <input class="form-control" type="text" value="<%=atividade.title %>" name="atividade[title]" placeholder="Título">
                </div>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" value="<%=moment(atividade.start).utc(-3).format('YYYY-MM-DDTHH:mm:ss') %>" name="atividade[start]" placeholder="Título" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" value="<%= moment(atividade.end).utc(-3).format('YYYY-MM-DDTHH:mm:ss') %>" name="atividade[end]" placeholder="Título" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" value="<%= atividade.km %>" name="atividade[km]" placeholder="Quilometragem">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" value="<%= atividade.car %>" name="atividade[car]" placeholder="Carro">
                </div>
                <div class="form-group">
                    <input class="form-control" type="color" value="<%= atividade.color %>" name="atividade[color]" placeholder="Cor">
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Recursos:</legend>
                        <% let selected = ""; if(atividade.resource_type == "I") {selected = "selected"} %>
                    <select class="resource_type form-control" name="atividade[resource_type]">
                            <option value="D">Diária </option>
                            <option value="I" <%= selected%>  >Indenização </option>
                    </select>                    
                    <input class="form-control" type="number" min="0" step="0.5" name="atividade[resource_value]" value="<%= atividade.resource_value %>" placeholder="Valor">
                    </fieldset>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Alterar</button>
                </div>
            </form>
            <a href="/agencias/<%= agencia_id %>">Voltar</a>
        </div>
    </div>
    <script>
        $("div.resource_type select").val("<%= atividade.resource_type %>");
    </script>
<% include ../partials/footer %>

