<% include ../partials/header %>
    <script src='/scripts/jquery.min.js'></script>    
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Cadastrar Atividade da Agência
                <%= agencia.name %>
            </h1>
            <div class="control-group" id="fields">                
                <div class="controls" style="width: 45%; margin: 25px auto;">
                    <form role="form" autocomplete="off" action="/agencias/<%= agencia._id %>/atividades" method="POST">
                        <button class="btn btn-lg btn-primary btn-block">Cadastrar</button>
                        <br>
                        <div class="form-group">
                            <input required class="form-control" type="text" 
                            value="<%= typeof atividade !== 'undefined' ? atividade.title : '' %>" name="atividade[title]" placeholder="Título">
                        </div>
                        <div class="form-group">
                            <input required class="form-control" type="datetime-local"
                            value="<%= typeof atividade !== 'undefined' ? moment(atividade.start).utc(-3).format('YYYY-MM-DDTHH:mm:ss') : '' %>"
                            name="atividade[start]" placeholder="Data Início">
                        </div>
                        <div class="form-group">
                            <input required class="form-control" type="datetime-local"
                            value="<%= typeof atividade !== 'undefined' ? moment(atividade.end).utc(-3).format('YYYY-MM-DDTHH:mm:ss') : '' %>"  name="atividade[end]" placeholder="Data Fim">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" value="<%= typeof atividade !== 'undefined' ? atividade.km : '' %>" name="atividade[km]" placeholder="Quilometragem">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" value="<%= typeof atividade !== 'undefined' ? atividade.car : '' %>" name="atividade[car]" placeholder="Placa do carro">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="number" min="0" step="0.01" value="<%= typeof atividade !== 'undefined' ? atividade.transport : '' %>" name="atividade[transport]" placeholder="Valor Transporte">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="color" value="<%= typeof atividade !== 'undefined' ? atividade.color : '' %>" name="atividade[color]" placeholder="Cor">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="atividade[resource_type]">
                                <option value="D">Diária</option>
                                <option value="I">Indenização</option>
                            </select>
                        </div>
                        <input class="form-control" type="number" min="0" step="0.5" name="atividade[resource_value]" placeholder="Quantidade">
                        <br>
                        <div class="form-group">
                                <select class="form-control" name="atividade[status]">
                                    <option value="P">Planejada</option>
                                    <option value="E">Em Andamento</option>
                                    <option value="C">Cancelada</option>
                                    <option value="F">Finalizada</option>
                                </select>
                            </div>
                        <br>
                        <label class="control-label" for="field1">Equipe:</label>                        
                        <div class="entry input-group">
                            <input class="form-control" name="atividade[fields]" type="text" placeholder="Type something" />
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>                        
                    </form>
                    <br>
                    <small>Aperte
                        <span class="glyphicon glyphicon-plus gs"></span> para adicionar</small>
                        <br><br>
                        <p align="center"><a href="/agencias/<%= agencia._id %>">Voltar</a></p>
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="row">
        
    </div>

    <script>
        $(function () {
            $(document).on('click', '.btn-add', function (e) {                
                e.preventDefault();

                var controlForm = $('.controls form:first'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
            }).on('click', '.btn-remove', function (e) {                
                $(this).parents('.entry:first').remove();
                e.preventDefault();
                return false;
            });
        });

    </script>

    <% include ../partials/footer %>