<% include ../partials/header %>
    <form action="/agencias/<%=agencia._id%>/relatorios" method="POST">
        <div class="form-group">
            <label for="name">Nome</label>
            <input class="form-control" type="text" value="<%= typeof name !== 'undefined' ? name : '' %>" name="name" id="name" placeholder="Nome da agência">
        </div>
        <div class="form-group">
            <label for="start">Data Inicial</label>
            <input class="form-control" type="date" value="<%= typeof start !== 'undefined' ? start : '' %>" name="start" id="start">
        </div>
        <div class="form-group">
            <label for="end">Data Final</label>
            <input class="form-control" type="date" value="<%= typeof end !== 'undefined' ? end : '' %>" name="end" id="end">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Pesquisar</button>
        </div>
    </form>
    <table class="table table-hover table-striped col-lg-10">
        <tbody>
            <tr style="background-color: rgb(6, 116, 167);color: white;">
                <th>Atividade</th>
                <th>Data / Hora Inicial</th>
                <th>Data / Hora Final</th>
                <th>Equipe</th>
                <th>Veículo</th>
                <th>Km</th>
                <th>Recurso</th>
                <th>Qtde</th>
                <th>Status</th>
                <th>Operação</th>
            </tr>
            <% let kmTotal = 0 %>
                <% let qtdeTotal = 0 %>
                    <% agencia.atividades.forEach(function(atividade){ %>
                        <% kmTotal += atividade.km %>
                            <% qtdeTotal += atividade.resource_value %>
                                <tr>
                                    <td>
                                        <i class="btn btn-xs btn-warning glyphicon glyphicon-alert"></i>
                                        <%= atividade.title %>
                                    </td>
                                    <td>
                                        <%=moment(atividade.start).utc(-3).format('DD/MM/YYYY HH:mm') %>
                                    </td>
                                    <td>
                                        <%=moment(atividade.end).utc(-3).format('DD/MM/YYYY HH:mm') %>
                                    </td>
                                    <td>
                                        <%= atividade.fields %>
                                    </td>
                                    <td>
                                        <%= atividade.car %>
                                    </td>
                                    <td>
                                        <%= atividade.km %>
                                    </td>
                                    <td>
                                        <% if(atividade.resource_type == 'D') { %>
                                            <%= "Diária" %>
                                                <% } else if (atividade.resource_type == 'I') { %>
                                                    <%= "Idenização" %>
                                                        <% } %>
                                    </td>
                                    <td>
                                        <%= atividade.resource_value %>
                                    </td>
                                    <td>
                                        <% if(atividade.status == 'P') { %>
                                            <%= "Planejada" %>
                                                <% } else if (atividade.status == 'C') { %>
                                                    <%= "Cancelada" %>
                                                        <% } else if (atividade.status == 'F') { %>
                                                            <%= "Finalizada" %>
                                                                <% } %>
                                    </td>
                                    <td>
                                        <% if(currentUser && atividade.author.id.equals(currentUser._id)){ %>
                                            <a href="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>/edit" class="btn btn-xs btn-warning glyphicon glyphicon-pencil"></a>
                                            <form class="delete-form" action="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>?_method=DELETE&action=relatorios"
                                                method="POST">
                                                <input type='hidden' name='action' value='relatorios'>
                                                <button class="btn btn-xs glyphicon btn-danger glyphicon-trash"></button>
                                            </form>
                                            <% } else {%>
                                            <%= atividade.author.id %>
                                                Ureia seca
                                            <%= currentUser._id %>
                                                <% } %>
                                    </td>
                                </tr>
                                <% }) %>
        </tbody>
    </table>


    <h4>        
        <p class="text-warning" align="center">
            Km: <%= kmTotal %>
        </p>
        <p class="text-warning" align="center">
            Qtde: <%= qtdeTotal %>
        </p>
    </h4>




    <% include ../partials/footer %>