<% include ../partials/header %>
    <table class="table table-hover table-striped col-lg-10">
        <tbody>
            <tr style="background-color: rgb(16, 155, 219);color: white;">                
                <th>Atividade</th>
                <th>Data / Hora Inicial</th>
                <th>Data / Hora Final</th>
                <th>Equipe</th>
                <th>Veículo</th>
                <th>Km</th>
                <th>Recurso</th>
                <th>Qtde</th>
                <th>Status</th>
                <th>Operação</th>
            </tr>
            <% agencia.atividades.forEach(function(atividade){ %>
                <% atividades.push(atividade)%>
            <tr>
                <td><%= atividade.title %></td>
                <td><%=moment(atividade.start).utc(-3).format('DD/MM/YYYY HH:mm') %></td>
                <td><%=moment(atividade.end).utc(-3).format('DD/MM/YYYY HH:mm') %></td>
                <td><%= atividade.fields %></td>
                <td><%= atividade.car %></td>
                <td><%= atividade.km %></td>                
                <td><% if(atividade.resource_type == 'D') { %>
                    <%= "Diária" %>
                    <% } else if (atividade.resource_type == 'I') { %>
                    <%= "Idenização" %>
                    <% } %>
                </td>
                <td><%= atividade.resource_value %></td>
                <td>
                    <%= atividade.status %>
                </td>
                <td>
                    <% if(currentUser && atividade.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 
                    <a href="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>/edit" class="btn btn-xs btn-warning glyphicon glyphicon-pencil"></a>
                        <form class="delete-form" action="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>?_method=DELETE&action=relatorios" method="POST">
                            <input type='hidden' name='action' value='relatorios'>
                            <button class="btn btn-xs glyphicon btn-danger glyphicon-trash"></button>
                        </form>
                    <% } else {%>
                    Ureia seca
                    <% } %>
                </td>
            </tr>
            <% }) %>            
        </tbody>
    </table>

<% include ../partials/footer %>