<% include ../partials/header %>
<div class="row">  
  <div class="col-md-12">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= agencia.image %>">
      <div class="caption-full">
        <h4 class="pull-right">          
        </h4>
        <h4><a><%=agencia.name%></a></h4>
        <p><%= agencia.description %></p>
        <p>
          <em>Submitted by: <%= agencia.author.username %>, <%= moment(agencia.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && agencia.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/agencias/<%= agencia._id %>/edit">Edit</a>
        <form action="/agencias/<%= agencia._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div id='calendar'></div>
    </div>
    <div class="row"> <%= agencia.atividades %> </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/agencias/<%= agencia._id %>/atividades/new">Cadastrar Atividade</a>
      </div>
      <hr>
      <% agencia.atividades.forEach(function(atividade){ %>
        <% atividades.push(atividade)%>
      <div class="row">
        <div class="col-md-12">
          <strong><%= atividade.author.username %></strong>
          <span class="pull-right"><%= moment(atividade.createdAt).fromNow() %></span>
          <div>
           <%= atividade.tile %> 

           <% if(currentUser && atividade.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="pull-right">
              <a href="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
              <form class="delete-form" action="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">DELETE</button>
              </form>
            </div>
          <% } %>
          <hr>
        </div>
      </div>
    </div>
    <% }) %>
    <%= atividades%>
  </div>  
</div>
<div class="col-md-12">
  <p class="lead">Tasks</p>
  <div class="list-group">
    <li class="list-group-item active">Info 1</li>
    <li class="list-group-item">Info 2</li>
    <li class="list-group-item">Info 3</li>
  </div>
  <div id="map"></div>
</div>
</div>

<script>
  function initMap() {
    var lat = <%= agencia.lat %>;
    var lng = <%= agencia.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= agencia.name %><br />
      <%= agencia.location %></strong>
      <p><%= agencia.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  } 


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script src='/scripts/moment.min.js'></script>
<script src='/scripts/jquery.min.js'></script>
<script src='/scripts/fullcalendar.min.js'></script>
<script src='/scripts/pt-br.js'></script>

<script>  

var atividades = [<%=agencia.atividades%>];
  
  $(document).ready(function () {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,listWeek'
      },
      lang: 'pt',
      defaultDate: '2018-12-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      
      events:  atividades
      
      /*
      [{
            _id: '5a68d068bc24bc36e46217ee',
            title: 'All Day Event',
            start: '2017-12-01',
          },
          {
            title: 'Long Event',
            start: '2017-12-07',
            end: '2017-12-10'
          },
          {
            id: 999,
            title: 'Repeating Event',
            start: '2017-12-09T16:00:00'
          },
          {
            id: 999,
            title: 'Repeating Event',
            start: '2017-12-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2017-12-11',
            end: '2017-12-13'
          },
          {
            title: 'Meeting',
            start: '2017-12-12T10:30:00',
            end: '2017-12-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2017-12-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2017-12-12T14:30:00'
          },
          {
            title: 'Happy Hour',
            start: '2017-12-12T17:30:00'
          },
          {
            title: 'Dinner',
            start: '2017-12-12T20:00:00'
          },
          {
            title: 'Birthday Party',
            start: '2017-12-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2017-12-28'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: Date.now()
          }
        ]
        */               
    });
  });
  
  
</script>


<% include ../partials/footer %>