<% include ../partials/header %>
<div class="row">  
  <div class="col-md-12">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= agencia.image %>">
      <div class="caption-full">
        <h4 class="pull-right">          
        </h4>
        <h4><a><%=agencia.name%></a></h4>
        <p><%= agencia.description %></p>
        <p>
          <em>Submitted by: <%= agencia.author.username %>, <%= moment(agencia.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && agencia.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/agencias/<%= agencia._id %>/edit">Edit</a>
        <form action="/agencias/<%= agencia._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div id='calendar'></div>
    </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/agencias/<%= agencia._id %>/atividades/new">Add New Atividade</a>
      </div>
      <hr>
      <% agencia.atividades.forEach(function(atividade){ %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= atividade.author.username %></strong>
          <span class="pull-right"><%= moment(atividade.createdAt).fromNow() %></span>
          <div>
           <%= atividade.text %> 

           <% if(currentUser && atividade.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="pull-right">
              <a href="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
              <form class="delete-form" action="/agencias/<%=agencia._id%>/atividades/<%=atividade._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">DELETE</button>
              </form>
            </div>
          <% } %>
          <hr>
        </div>
      </div>
    </div>
    <% }) %>
  </div>  
</div>
<div class="col-md-12">
  <p class="lead">Tasks</p>
  <div class="list-group">
    <li class="list-group-item active">Info 1</li>
    <li class="list-group-item">Info 2</li>
    <li class="list-group-item">Info 3</li>
  </div>
  <div id="map"></div>
</div>
</div>

<script>
  function initMap() {
    var lat = <%= agencia.lat %>;
    var lng = <%= agencia.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= agencia.name %><br />
      <%= agencia.location %></strong>
      <p><%= agencia.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>
<% include ../partials/footer %>